
/* Basic styles */
*{
  font-family:Arial, Helvetica, sans-serif;
}
body{
  background-color: #c1ddee;
  margin: 0px;
}



/*------------------------------------*\
  #SECTION-Menu
\*------------------------------------*/
.menu-toggle {
  cursor: pointer;
  font-size: 24px;
  display: block;

}
.menu {
  display: none;

}
menu li {
display:inline;
margin: 10px;
}
menu li :hover{
color:rgb(76, 179, 239);
}
#toggle{
  display:none;
}

#toggle:checked +.menu-toggle + .logo + .menu {
  display: block;
}
#toggle:checked +.menu-toggle + .logo  {
  display: none;
}
#toggle:checked +.menu-toggle + .logo+  .menu +div {
  display: none;
}
menu > ul{
  list-style-type: none;
}




/*------------------------------------*\
  #SECTION-Navigation Bar
\*------------------------------------*/
nav{
  align-items: center;
  background-color: black;
  color:white;
  display: flex;
  width:100%;
  min-height:100px;
  height:auto;
  margin-bottom:30px;
}
.menu{
  flex:1;
  margin: 0;
  padding: 0px;
}

.menu ul{
display: flex;
flex-direction: column;
font-size: small;
padding: 0;
}
.logo{
  flex:2;
  justify-content: left;
  font-size:x-large;
  padding:10px;
}
.contact :hover{
  background-color: #c1ddee;
  color:rgb(76, 179, 239);
  min-width: 100px;
  padding: 10px;
  border-radius: 50px; 
}

/*------------------------------------*\
  #SECTION-Footer
\*------------------------------------*/
footer{
  align-items: center;
  display: flex;
  flex-shrink: 3;
  flex-wrap: wrap;
  }
  address p{
  font-size: xx-small;
  }
  div ,a{
    margin: 5px;
  }
  nav a{
  color:white;
  margin: 5px;
  text-decoration: none;
  }
  footer h1{
    text-align: left;
    padding-left: 10px;
  }
  #address{
    display: flex;
    flex: 1;
    float :left;
    padding: 0px;
    flex-shrink: 4;
    flex-wrap: wrap;
    text-align: center;
  
  }
  
  .footer-nav{
    align-items: baseline;
    display: flex;
    flex-direction: row;
    float: right;
    font-size: x-small;
    list-style-type: none;
    margin: 20px;
    padding: 10px;
    text-align: center;
  }

/*------------------------------------*\
  #SECTION-HOME
\*------------------------------------*/



/* slide show container */
.container{
  height: 40%;
}
.slider-wraper{
position: relative;
max-width: fit-content;
height: auto;
margin: 0 auto;
}
.slider{
display: flex;
text-align: center;
aspect-ratio: 16/9;
overflow-x: auto;
scroll-snap-type:x mandatory;
scroll-behavior:smooth;
box-shadow: 0 1.5rem 3rem -0.75rem hsla(0,0%,0%,0.25);
border-radius: 0.5rem;
}
.slider div{
flex:1 0 100%;
width: 330px;
height: auto;
object-fit:fill;
position: relative;
display: inline-block;
}

.slider .text{
font-size: xx-small;
position: absolute;
top: 50%;
left: 50%;
transform: translate(-50%, -50%);
background-color: rgba(0, 0, 0, 0.3);
color: white;
padding: 20px;
margin-left: 0px;
width:70%;
}
#slide-3 .text{
  width:150px;
}

h1{
text-align: center;
width: 100%;}

.slideshow{
justify-content: space-between;
align-items:first baseline;
display: flex;
text-align: center;
}
.slider video{
text-align: center;
width:90%;
height: 90%;
}
.slider img {
  height:90%;
  width:90%;

}
.number-text{
  padding: 0;
  margin: 0;
  font-weight: bolder;
  font-size: xx-small;
}


/*Introduction*/
.welcome{

  align-items: center;
  display: flex;
  justify-content: center;
  flex-direction: column;
}
.intro {
  align-items: center;
  display: flex;
  flex-direction: column;
  max-width: 600px;
  text-align: center;
}

.intro-pic {
  height: 90%;
  width: 90%;
}

.intro blockquote {
  color: #555;
  font-style: italic;
}

.choices{
  align-items: center;
  display:flex;
  flex-direction: column;
}
button{
  background-color: black;
  border-radius: 20px 0px 20px 0px;
  box-shadow: 5px 5px 10px rgba(0, 0, 0, 0.3);
  color: white;
  height:80px;
  margin: 20px;
  width:300px;
}
button:hover{
background-color: #c1ddee;
border-radius: 20px 0px 20px 0px;
color:#000;
height:80px;
width:350px;
}



/*------------------------------------*\
  #SECTION-About Me 
\*------------------------------------*/
.desc{
  align-items: center;
  flex-direction: column;
  margin: 10px;
  text-align: left;
}

p{
  margin:20px;
  text-align: center;
  
}

.hobbies{
  margin: 10px;
  text-align: left;
}
.visited{
  text-align: center;
}
.visited h2{
 text-align: left;
 padding-left: 10px;
}
.visited img {
  height:90%;
  width:90%;
}
.my-pic{
height:90%;
margin: 20px;
width:90%;
} 
.acomp{
margin: 10px;
}
table, th, td {
border: 1px solid black;
border-collapse: collapse;
}



/*------------------------------------*\
  #SECTION-Education
\*------------------------------------*/
.edu{
margin: 20px;
width:90%;
}
.big-div{
  padding-left: 5%;
 }
 .edu h1{
  text-align: left;
 }


   
/*------------------------------------*\
  #SECTION-RESUME
\*------------------------------------*/
.resume-pic{
align-self: center;
height:90%;
width:90%;
}
.resume{
text-align: center;
}
button a{
color:white;
text-decoration: none;
}



/*------------------------------------*\
  #SECTION-SKILLS
\*------------------------------------*/
figure img{
height: 90%;
width:90%;
}
.skills{
margin:20px;
}
.skills > a{
font-size: xx-large;
font-weight: bolder;
text-align: center;
}
.btn{
text-align: center;
}



/*------------------------------------*\
  #SECTION-CREDENTIALS
\*------------------------------------*/
.creds{
  text-align:  center;
}
.certeficate{
  height:70%;
  width:70%;
}

.creds h2{
  text-align: left;
  padding-left: 50px;
}



@media only screen and (orientation:landscape){
  
  
  /*------------------------------------*\
  #SECTION-HOME
\*------------------------------------*/

  .welcome{
    display: flex;
    flex-direction: column;
  }
  .intro {
    display: flex;
    flex-direction: row;
    width:100%;

  }
  .intro-pic{
    width: 50%;
  }
  .intro h1{
    display:block;
  }
  blockquote{
    width: 70%;
  }
  .choices{
    align-items: center;
    display:flex;
    flex-direction: row;
    width:100%;
  }
  button{
    height:50px;
    width:130px;
    margin: 50px 5px 50px 5px;

  }
  button:hover{
    height:70px;
    width:130px;
  }



  /*------------------------------------*\
  #SECTION-ABOUT ME
\*------------------------------------*/

  .wrap{
    display: flex;
    flex-direction: row;
  }
  .my-pic{
    width:40%;
  
  }
  .text-audio{
    text-align: center;
    padding-top: 5px;
  }
  .text-audio p {
    font-size: 70%;
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;

  }
  audio{
    margin:30px;
  }
  .hobby{
    display:flex;
    flex-direction: row;
    justify-content: space-between;
    padding:50px;
    padding-top: 0px;
  }
  .images{
    display: flex;
    flex-direction:row ;

  }
  .images img{
    height:50%;
  }

  .images .debre{
    height:30%;
  }
  .acomp{
    padding-top: 20px;
  }
  table{
    align-self: center;
    width: 80%;
  }



  /*------------------------------------*\
  #SECTION-EDUCATION
\*------------------------------------*/

  .big-div{
    display:flex;
    flex-direction: row;
    justify-content: space-between;

  }
  .segment{
    display: flex;
    flex-direction: column;
    width: 50%;
  }



  /*------------------------------------*\
  #SECTION-SKILLS
  \*------------------------------------*/

.projects{
 padding-left: 250px;
 
}



/*------------------------------------*\
  #SECTION-RESUME
\*------------------------------------*/

.download-btn{
  text-align: center;
}
.download-btn .btn{
  width:80%;

}
.download-btn .btn :hover{
  width:90%;
}

}



@media only screen and (min-width:768px) {

  /*------------------------------------*\
  #SECTION-HOME
  \*------------------------------------*/

  #slide-3 .text{
    width:30%;
    margin-left: 30%;
  }
  #slide-3 img {
    float: left;
    margin-left:30px ;
  }

  .welcome{
    display: flex;
    flex-direction: column;
  }
  .intro {
    display: flex;
    flex-direction: row;
    width:100%;

  }
  .intro-pic{
    width: 50%;
  }
  .intro h1{
    display:block;
  }
  blockquote{
    width: 80%;
  }
  .choices{
    align-items: center;
    justify-content: space-between;
    padding-left: 2%;
    display:flex;
    flex-direction: row;
    width:90%;
  }
  button{
    height:50px;
    width:125px;
    margin: 50px 5px 50px 5px;

  }
  button:hover{
    height:70px;
    width:125px;
  }
  .footer-nav{
    float: right;
  }



   /*------------------------------------*\
   #SECTION-ABOUT ME
  \*------------------------------------*/

   .wrap{
    display: flex;
    flex-direction: row;
  }
  .my-pic{
    width:40%;
  
  }
  .text-audio{
    text-align: center;
    padding-top: 5px;
  }
  .text-audio p {
    font-size: 75%;
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
  

  }
  audio{
    margin:30px;
  }
  .hobby{
    display:flex;
    flex-direction: row;
    justify-content: space-between;
    padding:50px;
    padding-top: 0px;
  }
  .images{
    display: flex;
    flex-direction:row ;

  }
  .images img{
    height:50%;
  }

  .images .debre{
    height:30%;
  }
  .acomp{
    padding-top: 20px;
  }
  table{
    align-self: center;
    width: 80%;
  }
 



  /*------------------------------------*\
  #SECTION-SKILLS
  \*------------------------------------*/

  .projects{
   padding-left: 250px;
   
  }



  /*------------------------------------*\
  #SECTION-RESUME
  \*------------------------------------*/

  .download-btn{
    text-align: center;
  }
  .download-btn .btn{
    width:80%;
  
  }
  .download-btn .btn :hover{
    width:90%;
  }
}
  



@media only screen and (min-width:1024px){
  
  /*------------------------------------*\
  #SECTION-navigation bar
  \*------------------------------------*/

  .menu {
    display: block;
  }
 
  .menu ul{
    display: flex;
    flex-direction: row;
    float:right;
    font-size:medium;
    align-items: center;
    }
    .menu ul li{
      text-align: center;
      min-width: 100px;
    }
    .menu ul li:hover{
      background-color: #c1ddee;
      padding: 10px;
      border-radius: 50px;
    }
    #toggle:checked +.menu-toggle + .logo  {
      display: block;
    }
    #toggle:checked +.menu-toggle + .logo+  .menu +div {
      display: block;
    }



  /*------------------------------------*\
  #SECTION-HOME
  \*------------------------------------*/

  .slider .text{
      font-size: larger;
  }
  #slide-3 .text{
    width:30%;
    margin-left: 30%;
  }
  #slide-3 img {
    float: left;
    margin-left:30px ;
  }
  button{
    height:70px;
    width:160px;
    margin: 50px 5px 50px 5px;

  }
  button:hover{
    height:70px;
    width:170px;
  }



 /*------------------------------------*\
  #SECTION-ABOUT ME
\*------------------------------------*/

  .text-audio p {
    font-size: 110%;
  }



/*------------------------------------*\
  #SECTION-EDUCATION
\*------------------------------------*/

  .big-div{
    display:flex;
    flex-direction: row;
    justify-content: space-between;

  }
  .segment{
    display: flex;
    flex-direction: column;
    width: 50%;
  }

}